---
import { Card, Notification } from "accessible-astro-components";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { Icon } from "astro-icon";
---

<DefaultLayout title="Home | XLabbers">
  <section class="margin-48">
    <div class="container">
      <h1>XLabers <code>[dot]</code> xyz</h1>
      <p>
        We are a group of GitLab alumni (still <b>GitLabbers</b>) who have come
        together to help each other advance our ambitions in the startup
        ecosystem and support each other with a GitLab alumni network. The
        XLabber community consists of startup founders, early team members,
        angel investors, VCs, and mentors.
      </p>
      <br />

      <h2>What we do</h2><br />
      <div class="flex space-x-96">
        <a href="#hiring" class="button">XLabber Hiring</a>
        <a href="#syndicate" class="button">XLabber Syndicate</a>
        <a href="#slack" class="button">XLabber Slack</a>
      </div>
    </div>
  </section>
  <section class="padding-48 color-primary">
    <div class="container">
      <h1 id="hiring" class="margin-16 bottom">Hiring</h1>
      <h2 class="margin-16 bottom">Git Involved</h2>
    </div>
    <div class="container" data-auto-grid="2">
      <div
        class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
        data-animation="fade-in"
      >
        <h3>Looking for work</h3>
        <p>
          You no longer work for GitLab, and you're seeking a new role now or in
          the near future
        </p>
        <br />
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSeeAKOAJLDSBb6SCzpWzpr_h8q7fKbed7worNOjikwrPbUu5A/viewform?usp=sf_link"
          class="button color-secondary">Sign up</a
        >
      </div>
      <div
        class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
        data-animation="fade-in"
        data-animation-delay="0.25s"
      >
        <h3>Looking to hire</h3>
        <p>
          You no longer work for GitLab, and you or your current company is
          hiring currently or in the near future
        </p>
        <br />
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSenMEp-_MXx2ycDrdAZqn5GqK7XvirzzVL_PVJ4RpKjxUA2nw/viewform?usp=sf_link"
          class="button color-secondary">Sign up</a
        >
      </div>
    </div>
    <br />
    <div class="container">
      <div class="grid">
        <div class="small-12">
          <h2>More</h2>
          <ul>
            <li>
              <a href="/details">Details about this program</a>
            </li>
            <li>
              <a href="/resources">Hiring resources</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="margin-64">
    <div class="container">
      <h1 id="syndicate" class="margin-16 bottom">XLabber Investment Club</h1>
      <h2 class="margin-16 bottom">Git Funded</h2>
      <div class="container" data-auto-grid="2">
        <Notification type="info">
          <Icon pack="ion" name="information-circle-outline" />
          <p>
            We want to hear about startups that we think GitLab’s values can
            help grow. If you are a founder who embodies those values, or you
            know one who does, get in touch.
          </p>
        </Notification>
        <br />
        <a href="/syndicate" class="button"> Learn More</a>
      </div>
    </div>
  </section>
  <section class="padding-48 color-primary">
    <div class="container">
      <h1 id="hiring" class="margin-16 bottom">XLabber Slack</h1>
      <h2 class="margin-16 bottom">Git Connected</h2>
    </div>
    <div class="container" data-auto-grid="2">
      <div
        class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
        data-animation="fade-in"
      >
        <p>
          Send an email to <code>info [at] xlabbers.xyz</code> to get an invite
        </p>
      </div>
    </div>
    <br />
  </section>
</DefaultLayout>
