---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';
---

<DefaultLayout title="Resources">
  <section class="margin-24">
    <div class="container">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem currentPage={true} label="Hiring Resources" />
      </Breadcrumbs>
      <h1>Resources</h1><br>
    </div>
  </section>
  <section class="">
    <div class="container">
      <p>
        This is a list of resources I've found or people have sent me since I set up this website. I don't know how useful they are, but it's a great place to put links. If you want to add a link, <a href="https://gitlab.com/brendan/xlabbers">the repo is here</a>. You can also open an issue and ping me.
      </p>
    </div>
    <div class="container margin-12">
      <ul>
        <li>
          <a href="https://docs.google.com/spreadsheets/d/13su-b2ObHxECT9u3iEqIvJcYKdLFy9YrQln1UdmUD0E/edit?usp=sharing">Job Listsings from XLabbers</a> - Spreadsheet of the listings added by XLabbers
        </li>
        <li>
          <a href="https://www.linkedin.com/search/results/people/?origin=FACETED_SEARCH&pastCompany=%5B%225101804%22%5D&sid=0ch">
            LinkedIn Search showing all XLabbers
          </a>
        <li>
          <a href="https://stillhiring.today">StillHiring.today</a> - "Who's Still Hiring? Find a Tech Job with Open Roles"
        </li>
        <li>
          <a href="https://about.gitlab.com/company/culture/all-remote/jobs/">All Remote Companies</a> from the GitLab handbook
        </li>
        <li>
          D&amp;I minded companies: <a href="https://jobs.gaingels.com/jobs">https://jobs.gaingels.com/jobs</a>
        </li>
        <li>
          <a href="https://www.roadmap.net/resources/toolkits?utm_source=Slack&utm_medium=post&utm_campaign=Toolkits">Roadmap Toolkits</a> - toolkits for job serach, lay off resources and more
        </li>
      </ul>
    </div>
  </section>
</DefaultLayout>
