---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="padding-16 color-neutral">
    <div class="container">
      <p>
        &copy; {currentYear} - 
        <a href="https://twitter.com/olearycrew">Brendan O'Leary</a> - 
        Based on Starter Theme for <a href="https://astro.build/">Astro</a>.</p>
    </div>
  </section>
</footer>
